* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

h1 {
    margin-bottom: 3vw;
    margin-top: 1em;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;
    justify-content: center;
    gap: 2vw;
}

h2 {
    margin-top: 5vw;
    font-size: 2vw;
}

input {
    padding: 0.5vw;
    border-radius: 0.4em;
}

.timerStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

p {
    font-size: 4vw;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 2em;
}

button {
    width: 13vw;
    padding: 0.7vw;
    border-radius: 0.6em;
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    form {
        flex-direction: column;
    }
}